.login-forms {
  width: 100%;
}
.login-form-button {
  width: 100%;
}
.login-form-button-z {
  margin-left: 10px;
}
.login-go-signin {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #82c2f7;
}
